<?php
/**
 * mithra62 - MojiTrac
*
* @package	mithra62:Mojitrac
* @author	Eric Lamb
* @copyright	Copyright (c) 2014, mithra62, Eric Lamb.
* @link		http://mithra62.com/
* @version	2.0
* @filesource 	./module/HostManager/config/module.config.php
*/

return array(
	'sub_primary_url' => '.YOUR_PRIMARY_DOMAIN.com',
	'master_host_account' => '1'
);